.header,
.footer {
  &__container {
    height: 100%;
  }

  &__img-logo {
    height: 80%;
  }

  &__link {
    align-items: center;
    display: flex;
    height: 100%;
  }
}

.row {
  align-items: center;
  height: 100%;
  justify-content: center;

  &.body__container--row {
    margin: 30px auto;
  }
}

.body__container {
  min-height: calc(100% - 80px);
  padding-top: 100px;
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}
