.row {
  align-items: center;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.header,
.footer {
  &__container {
    height: 100%;
  }

  &__row {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header {
  &__logo,
  &__my-account {
    height: 80%;
    width: auto;

    &--link {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;
    }

    &--img {
      height: 100%;
    }
  }
}

.body__container {
  min-height: calc(100% - 50px);
  padding-top: 100px;

  &--row {
    margin: 30px auto;
  }
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}

.line-divider {
  position: relative;
  background-color: map-get(map-get($color-group, 'default-secondary'), 'dark');
  height: 100%;
  width: 1px;
  display: block;
  block-size: auto;

  @include media-breakpoint-down(md) {
    height: 1px;
    width: 100%;
  }
}
