<header>
  <div class="container header__container">
    <div class="row header__row">
      <a href="/" class="header__link">
        <img loading="lazy" class="header__img-logo" src="../../../assets/images/logo.png" alt="logo">
      </a>
    </div>
  </div>
</header>

<div class="container body__container">
  <div class="row body__container--row">
    <router-outlet></router-outlet>
  </div>
</div>

<footer>
  <div class="container footer__container">
    <div class="row footer__row">
      <p>@GrupoA</p>
    </div>
  </div>
</footer>
