<div class="header__logo">
  <a href="/" class="header__logo--link">
    <img loading="lazy" class="header__logo--img" src="../../../assets/images/logo.png" alt="logo">
  </a>
</div>

<div class="header__menu">
  <a href="/about" class="header__menu--link">
    <span class="header__menu--text">
      Sobre a Clínica
    </span>
  </a>
  <a href="/service" class="header__menu--link">
    <span class="header__menu--text">
      Nossos Serviços
    </span>
  </a>
  <a href="/schedule" class="header__menu--link">
    <span class="header__menu--text">
      Agende um Horário
    </span>
  </a>
</div>

<app-icon-button class="{{ nameContent }}" [nameContent]="nameContent" [icon]="icon"></app-icon-button>
